.dark-theme {
  --theme-dark-black: #ffffff;
  --theme-dark-primary: #fffffff0;
  --theme-dark-secondary: #ffffffa6;
  --theme-dark-tertiary: #ffffff59;
  --theme-dark-quaternary: #ffffff33;
  --theme-dark-background: #ffffff1a;
  --theme-light-white: #000000;
  --theme-light-primary: #1f1f1f;
  --theme-light-secondary: #1f1f1fbf;
  --theme-light-tertiary: #1f1f1f59;
  --theme-light-quaternary: #1f1f1f1f;
  --theme-light-background: #1f1f1f0d;
  --theme-accent-primary: #3e85ff;
  --theme-accent-hover: #196eff;
  --theme-accent-presed: #75a8ff;
  --theme-accent-opacity-50: #3e85ff80;
  --theme-accent-opacity-30: #3e85ff4d;
  --theme-accent-opacity-10: #3e85ff1a;
  --theme-support-info: #3e85ff;
  --theme-support-success: #57a977;
  --theme-support-warning: #f0c229;
  --theme-support-danger: #e56565;
}