.light-theme {
  --theme-dark-black: #000000;
  --theme-dark-primary: #1f1f1f;
  --theme-dark-secondary: #1f1f1fbf;
  --theme-dark-tertiary: #1f1f1f59;
  --theme-dark-quaternary: #1f1f1f1f;
  --theme-dark-background: #1f1f1f0d;
  --theme-light-white: #ffffff;
  --theme-light-primary: #fffffff0;
  --theme-light-secondary: #ffffffa6;
  --theme-light-tertiary: #ffffff59;
  --theme-light-quaternary: #ffffff33;
  --theme-light-background: #ffffff1a;
  --theme-accent-primary: #196eff;
  --theme-accent-hover: #3e85ff;
  --theme-accent-presed: #1354c2;
  --theme-accent-opacity-50: #196eff80;
  --theme-accent-opacity-30: #196eff4d;
  --theme-accent-opacity-10: #196eff1a;
  --theme-support-info: #196eff;
  --theme-support-success: #37995d;
  --theme-support-warning: #edb600;
  --theme-support-danger: #e04848;
}